.navigation-filter{
    padding-left: 27px;
    padding-top: 8px;
}
.navigation-filter .liste {
    overflow: hidden;
    height: 40px;
    float: left;
    width: 76%;
}
.navigation-filter .liste a{
    float: right;
}
.navigation-filter button{
    padding: .25rem 10px;    
    font-size: 0.875rem;
}
.navigation-filter .other a{
    color: #ff8000;
    font-size: 0.875rem;
}
.navigation-filter .other{
    padding-top: 3px;
}